:root {
    --blue:rgb(53, 117, 255);
    --red: rgba(228, 55, 55, 0.795);
    --yellow: #ffde24; 
    --green: rgb(59, 161, 68);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #7dcfff7c;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
    margin: 0;
    color: var(--green);

}

header a {
    color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 50px;
    text-align: center;
    color: var(--red);
    margin: 60px 0 0 0;
}

#final {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(--green);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: var(--red);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 30px;
    color: var(--blue);
    padding: 10px;
}

input {
    padding: 8px;
    margin: 5px;
}

button a {
    text-decoration: none;
    color: var(--yellow);
}

button {
    background-color: var(--blue);
    color: var(--yellow);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
}

button:hover {
    cursor: grab;
    background-color: rgba(53, 117, 255, 0.61)
}