:root {
    --blue:rgb(53, 117, 255);
    --red: rgba(228, 55, 55, 0.795);
    --yellow: #ffde24; 
    --green: rgb(59, 161, 68);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #7dcfff7c;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header {
    font-size: 35px;
    color: var(--green);
    margin: 40px 0 0 10px;
}

#board {
    font-size: 35px;
    display: flex;
    display: inline-flex;
}

#scores {
    color: var(--red);
    margin: 0 20px;
}

#name {
    color: var(--blue);
    margin: 0 20px;
}


button {
    background-color: var(--blue);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 40px;
}

button a {
    text-decoration: none;
    color: var(--yellow);
}

button {
    color: var(--yellow);
}

button:hover {
    cursor: grab;
}